logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.cache-main
.cache-tests
/RUNNING_PID
.Rproj.user
*.Rproj
/bin/
/R/.Rhistory
.Rhistory
.DS_Store
conf/production.conf
dist/data/.RData
dist/data/.Rhistory
dist/data/historico*.csv
dados-externos/siconv*
dados-externos/siafi
